html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans Pro", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
#diagram-movement-range {
  margin: 0 auto;
  position: relative;
  display: block;
}
#limit-movement-range {
  position: relative;
  display: block;
}
svg {
  overflow: hidden;
  pointer-events: visiblePainted;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
svg > * {
  pointer-events: none;
}
text {
  font-size: 14px;
  text-anchor: middle;
}
.tile polygon {
  pointer-events: visiblePainted;
  fill: #f4f4f1;
  stroke: #b3b3b3;
  stroke-width: 0.5;
}
.tile.q-axis-same polygon {
  fill: #dee4d7;
}
.tile.r-axis-same polygon {
  fill: #e2e7e9;
}
.tile.s-axis-same polygon {
  fill: #e8e3e8;
}
.tile.q-axis-same.r-axis-same polygon {
  fill: #c2d6cf;
}
.tile.q-axis-same tspan.q {
  fill: #59b300;
  font-weight: bold;
}
.tile.r-axis-same tspan.r {
  fill: #0099e6;
  font-weight: bold;
}
.tile.s-axis-same tspan.s {
  fill: #e619e5;
  font-weight: bold;
}
#diagram-movement-range .shadow polygon {
  fill: #e8e8e3;
}
#diagram-movement-range .goal polygon {
  fill: #8cbfd9;
}
#diagram-movement-range .goal.shadow polygon {
  fill: #9cbac9;
}
#diagram-movement-range .start polygon {
  fill: #ffff00;
}
#diagram-movement-range .start.selected polygon {
  fill: #f5192b;
}
#diagram-movement-range .blocked polygon {
  fill: #c2a3a3;
}
#diagram-movement-range .shadow text {
  fill: #babaab;
}
#diagram-movement-range path.path {
  fill: none;
  stroke: #c2c2a3;
  stroke-width: 20px;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
