.battlefield_unit {
	width: 450px;
	height: 400px;

	background-image: url("../../../images/units/stronghold/battlefield/hobgoblin.png");
	background-repeat: no-repeat;
	background-position: -7650px 0;
}