.battlefield_unit {
	width:100px;
	height:100px;
	position: relative;
	display: inline-block;
	background-color: red;

	&:after {
		content:'';
		position: absolute;
		width:450px;
		height:400px;
		left:50%;
		top:50%;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: -7650px 0;
		/*
		These values have to ceter unit in the .battlefield_unit square
		margin-left: -201px;
		margin-top: -226px;*/
	}

	&.hobgoblin:after {
		background: url("../../../images/units/stronghold/battlefield/hobgoblin.png") no-repeat -7650px 0;
		margin-left: -201px;
		margin-top: -226px;
	}
}