.battlefield {
	width: 800px;
	height: 556px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;

	&.rough {
		background: url("../../images/battlefield/backgrounds/rough.png") no-repeat 0 0;
	}

	&.grass {
		background: url("../../images/battlefield/backgrounds/grass.png") no-repeat 0 0;
	}
}